.list-view{
    -fx-background-radius: 5;
    -fx-background-color: #fc3a52;
}

.list-cell:hover{
    -fx-border-color: rgba(249,178,72,1);
}
.list-cell:odd{
    -fx-background-color: rgba(255,255,255,0);

}
.list-cell:even{
    -fx-background-color: rgba(255,255,255,0.2);
}