.menu-button{
    -fx-text-fill: "white";
    -fx-font-scale: 15;
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 5 5 5 5;
}

.menu-button:hover{
    -fx-background-color: rgba(255,255,255,0.1);
}

.menu-button:showing{
    -fx-background-radius: 5 5 0 0;
}

.context-menu{
    -fx-background-radius: 0 5 5 5;
    -fx-background-color: rgba(0,0,0,0.4);
}

.menu-item{
    -fx-text-fill: "white";
    -fx-font-scale: 15;
    -fx-background-color: rgba(0,0,0,0);
}

.menu-item:hover{
    -fx-background-color: rgba(249,178,72,1);
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}