.table-view{
    -fx-background-radius: 5;
    -fx-background-color: linear-gradient(to bottom right,rgba(255,128,110,1),rgba(252,135,157,1));
}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: rgba(249,178,72,1);
    -fx-background-radius: 5 5 0 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
}

.table-row-cell:pressed .texting{
    -fx-fill : white;
}

.table-row-cell:selected .texting{
    -fx-fill : white;
}

.texting:selected{
    -fx-fill : white;
}

.table-row-cell:hover{
    -fx-border-color: rgba(249,178,72,1);
}
.table-row-cell:odd{
    -fx-background-color: rgba(255,255,255,0);

}
.table-row-cell:even{
    -fx-background-color: rgba(255,255,255,0.2);
}