.root{
    -fx-background-color: #0e2431;
}

.label{
    -fx-text-fill: "white";
    -fx-effect: dropshadow(gaussian,black,3,0.2,0,0);
}

.button{
    -fx-background-radius: 20;
    -fx-text-fill: "white";
    -fx-background-color: rgba(249,178,72,1);
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color: rgba(255,220,120,1)
}

.list-view{
    -fx-background-radius: 5;
}

#titlebutton{
    -fx-background-radius: 20;
}

#tohide{
    -fx-background-color: transparent;
}

.menuButton{
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.menuButtonClicked{
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-background-radius: 0;
    -fx-background-color: #0e2431;
    -fx-border-color: transparent;
}

.menuButton:focused{
    -fx-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}

.menuButton:hover{
    -fx-background-color: rgba(255,255,255,0.2);
}

#menu.top{
    -fx-background-color: linear-gradient(to right,rgba(249,178,72,1),rgba(255,130,10,1));
}
#menu.bottom{
    -fx-background-color: linear-gradient(to bottom,rgba(249,178,72,1),rgba(255,130,10,1));
}

#menu .anchor-pane{
    -fx-background-radius: 10;
    -fx-background-color: rgba(0,0,0,0.1);
}

#tutorial {
    -fx-text-fill: linear-gradient(to right,rgba(255,188,110,1),rgba(143,135,252,1));
    -fx-effect: dropshadow(gaussian,black,10,0.5,0,0);
}